/*CSS RESET*/

html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, em, img, strong, sup, var, b, u, i, center, ol, ul, li, fieldset, form, label, article, aside, figure, figcaption, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after {
    content: '';
    content: none;
}

strong {
    font-weight: bold;
}

@font-face {
    font-family: diss;
    src: url('font/adrip1-webfont.woff') format('woff'), url('font/adrip1-webfont.woff2') format('woff2');
}

.logo h1 {
    font-family: "diss";
    color: white;
    font-size: 120px;
    text-align: center;
}

.logo h3 {
    color: #6134ba;
    text-align: center;
    margin: -30px 0 0 0;
}

.site {
    width: 100%;
    height: 100%;
    background-color: #1f2900;
}

header {
    background-color: black !important;
    overflow: auto;
    margin: 0;
    max-width: 100%;
}

.header-menu {
    margin: 0 auto;
    max-width: 1200px;
}

.center {
    background-color: black;
    margin: 0;
}

.slider {
    width: 1000px;
    margin: 0 auto;
}

.slike {
    min-width: 1000px;
    min-height: 600px;
}

.s-1 {
    background: url("../img/50-CENT.jpg") no-repeat center;
    background-size: contain;
}

.s-2 {
    background: url("../img/2pac.jpg") no-repeat center;
    background-size: contain;
}

.s-3 {
    background: url("../img/jay-z.jpg") no-repeat center;
    background-size: contain;
}

.s-4 {
    background: url("../img/Eminem.jpg") no-repeat center;
    background-size: contain;
}

nav {
    margin: 10px 50px 10px 0;
    text-align: center;
    display: inline;
    vertical-align: middle;
}

nav .levo li {
    position: relative;
    float: left;
    text-align: center;
    display: inline;
    padding: 10px 0;
    margin: 0;
    text-align: center;
}

nav .desno li {
    float: right;
    padding: 10px 0;
    text-align: center;
    display: inline;
    margin: 0 0 0 50px;
}

nav .levo li a {
    padding: 0 15px 0 15px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

nav .desno li a {
    padding: 0 15px 0 15px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

nav ul li:hover {
    background-color: #6134ba;
}

.forma {
    height: 150px;
    background-color: black;
    position: absolute;
    width: 100%;
    display: inline;
}

.login-content {
    text-align: center;
}

.login-content form {
    display: inline;
}

.login-content div {
    dispaly: inline;
}

.login-form-container form {
    margin: 30px 15px;
}

input[type=text], input[type=password] {
    height: 50px;
    width: 220px;
    border-radius: 10px;
    padding: 0 20px;
    margin: 0 10px 0 0;
}

input[type=submit] {
    height: 50px;
    width: 220px;
    border-radius: 10px;
    border-color: #8dba34;
    background-color: #8dba34;
    color: white;
    font-size: 20px;
    margin: 0 10px 0 0;
    cursor: pointer;
    font-weight: bold;
}

form a {
    margin: 0 0 0 0;
    font-size: 20px;
    text-decoration: none;
    color: #6134ba;
}

.greska {
    border: 2px solid red;
}

.reg {
    height: 50px;
    width: 220px;
    border-radius: 10px;
    border-color: #6134ba;
    background-color: #6134ba;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.reg a {
    color: white;
    text-align: center;
    font-weight: bold;
}

.reg a:hover {
    text-decoration: none;
    color: white;
}

footer {
    background-color: #1f2900;
    margin: 35px 0 0 0;
    position: relative;
    color: white;
    font-size: 20px;
}

footer h4 {
    color: white;
    font-size: 20px;
    margin: 20px 20px 0 20px;
}

.at {
    margin: 20px 0 0 0;
    text-align: center;
}

footer a {
    margin: 20px 0 0 20px;
    color: #6134ba;
    font-size: 30px;
    font-weight: bold;
}

footer a:hover {
    text-decoration: none;
    color: white;
}

.sm {
    margin: 20px 0 0 0;
    text-align: center;
}

.ru {
    font-weight: bold;
    margin: 20px 0 0 0;
    text-align: center;
}

.ru a {
    margin: 0 20px 0 0;
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

.ru a:hover {
    color: #6134ba;
}

.register {
    padding: 50px 0;
    background-color: white;
    text-align: center;
}

.register input[type=text] {
    width: 33%;
}

.register input[type=password] {
    width: 33%;
}

.login {
    padding: 50px 0;
    background-color: white;
    text-align: center;
}

.pomoc {
    margin: 40px;
    background-color: #9ca185;
    border: 1px solid grey;
    border-radius: 20%;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.pomoc p {
    color: #1f2900;
}

.login input[type=text] {
    width: 33%;
}

.login input[type=password] {
    width: 33%;
}

p {
    color: #fff;
}

.bela {
    color: #fff;
}

.feed-card {
    max-width: 800px;
    padding: 25px 50px;
    background: rgba(0,0,0,.4);
    margin: 0 auto;
}

.feed-card div {
    color: #eaeaea;
}

.feed-card h4 {
    /*display: inline-block;*/
    padding: 10px 0px 25px 0px;
    margin: 0 auto;
}

.feed-meni {
    max-width: 800px;
    font-size: 20px;
    padding: 50px;
    margin: 0 auto;
}

.feed-meni li {
    margin: 0 20px;
    padding: 5px 10px;
    background: white;
    display: inline;
}

.feed-meni li a {
    text-decoration: none;
    color: #6134ba;
}

.feed-meni li a:hover {
    text-decoration: underline;
    color: #6134ba;
}

